*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #d57cff;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #e3b1fa;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #d589f8;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  margin: 50px 0 50px 0;
}

.heading {
  margin-bottom: 20px;
}

.table {
  margin: 0 auto;
}

.teamname {
  display: flex;
  margin-left: 15px;
}

.crest {
  height: 15px;
  margin-right: 5px;
}

.crest-team {
  height: 30px;
}

.button {
  margin-top: 20px;
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.dropdown {
  margin: 10px 0 10px 0;
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}